/* *::before{
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font: size 62.5%;
  }
  body{
    font-size: 1.6rem;
  
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color:darkgray
  }
  .nav{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    height: 8vh;
    background: rgb(0, 28,73) ;
  }
  .nav_brand{
    text-transform: uppercase;
    font-weight: bold;
  }
  .nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    gap:3rem;
  }
  .nav_toggler .line1, .nav_toggler .line2, .nav_toggler .line3 {
     width: 1.5rem;
     height: 0.2rem;
     margin: 0.3rem;
     background: darkgray;
     transition: 0 4s ease-in;

  }
 
  
  .nav_toggler {
    cursor: pointer;
    display: none;
    
  }

  @media  screen and (min-width:768px) {
    
        .nav_toggler{
            display: block;
        }
        .nav_menu{
            position:fixed;
            top: 7vh;
            right:0;
            width: 50%;
            height: 93vh;
            background:rgb(0, 28,73) ; 
            flex-direction: column;
            transform: translateX(100%);
            transition: 0.5s ease-in;
        }
        nav Active class */

        /* .nav_active{
transform: translateX(0);
        }
        
    }
    
    


    .toggler.line1{
        transform: rotate(-45deg) translate(4-px, 5px);

    }
    .toggler.line2{
opacity: 0;
    }
    .toggler.line3{
        transform: rotate(-45deg) translate(4-px, 5px);
    } */



/* .nav_toggler .line1{ 
    transform: rotate(-45deg) translate(4-px, 5px);
}
.nav_toggler .line2{

    opacity: 0;
}
.nav_toggler .line3{
    transform: rotate(-45deg) translate(4-px, 5px);
} */
  
 
