.navbar {
  /* position: relative; */
  background: white;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  box-shadow: 1px 2px 5px lightgray;
  transform:unset;
}

img {
  width: 100%;
  height: 100%;
}

.logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  height: 70px;
}

.nav-side-menu {
  display: grid;
  grid-template-columns: repeat(9, auto);
  gap: 0 10px;
  width: 70vw;
  justify-content: end;
  margin-right: 35px;
  flex-direction: row;
}

.nav-items {
  /* display: flex; */
  align-items: center;
  /* height: 80px; */
}

.nav-links {
  color: black;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}

.nav-links:hover {
  background-color: white;
  border-radius: 5px;
}

.fa-bars {
  color: #000;
}

.nav-links-button {
  display: none;
}

.menu-icon {
  display: none;
}

.dropdown-menu {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.menu-items {
  background-color: #fff;
  color: #000;
}

.header-social-links {
  margin-left: 20px;
  border-left: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  height: fit-content;
  margin: auto;
}

.header-social-links a {
  color: #a0a0a0;
  /* display: inline-block; */
  line-height: 0px;
  transition: 0.3s;
  padding-left: 20px;
}

@media screen and (max-width: 1024px) {
  .nav-side-menu {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: calc(100vh - 85px);
      position: absolute;
      margin-top: 0;
      top: 85px;
      border: 2px solid #ececee;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      justify-content: flex-start;
  }

  .nav-side-menu.start {
      background: #fff;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
  }

  .nav-links {
      text-align: center;
      padding: 1.5rem;
      width: 100%;
      color: #000;
      display: table;
      transition: 0s;
  }

  /* .nav-links:hover {
      color: #fff;
  } */

  .logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 10%);
  }

  .logo>h6{
      font-size: medium;
      font-weight: 600;
      color: #000 !important;
  }

  .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
  }

  .fa-times {
      color: #000;
      font-size: 2rem;
  }

  .nav-links-button {
      display: block;
      padding: 12px 30px;
      margin: 25px auto;
      border-radius: 10px;
      background: #000;
      text-decoration: none;
      color: #fff;
      font-size: 1.3rem;
  }

  button {
      display: none;
  }

  .nav-items {
      height: auto;
  }
}

